<form action="">
    <div class = "row">
        <div class = "col-md-4"></div>
        <div class = "col-md-4">
             <input type = "email" name = "email" placeholder = "email" [(ngModel)] = "email">
             <input type = "password" name = "password" placeholder = "password" [(ngModel)] = "password">    

            </div>
        <div class = "col-md-4"></div>
    </div>

    <div class = "row">
        <div clas = "col-md-4"></div>
        <div clas = "col-md-4">
            <button class = "btn btn-success" (click) = "login()">Login</button>
        </div>
        <div clas = "col-md-4"></div>
    </div>
</form>
