<div  class = "h-100 row align-items-center" style="text-align: center;" >
        <div class = "col-md-4">
        </div>

        <div class = "col-md-4">
                <a style = "font-size: 30px; color:blueviolet;">Welcome to LFood!</a>
                <br>
                <p style = "color: gold">We would love to hear your feedback. Please Contact us at the information below.</p>
                <br>
                <br>
                <a>Phone Number: 555-555-5555</a>
                <br>
                <a>Email us: lfoodsupport@LFood.com</a>
                <br>
                <br>
        </div>
        <div class = "col-md-4">
        </div>
    </div>