<h4  class ="text-primary"style = "text-align: center;">Welcome Admin</h4>
<h5>Add a Product</h5>

<form>
  
        <label for="name">Name</label>
        <input  name="name" type="name" class="form-control">


        <label for="price">Price</label>
        <input name="price" type="price" class="form-control">

        <label for="type">Type</label>
        <input name="type" type="type" class="form-control">

        <label for="stock">Stock</label>
        <input  name="stock" type="stock" class="form-control">

  </form>


<div class="container">

    <div class="row">

      <div class="col-lg-3">


      </div>

      

        <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
        

        <div class="row">

          <div *ngFor="let item of products; i as index" class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                  <a href="#"><img class="card-img-top" src="{{item.picture}}" alt=""></a>
                  <div class="card-body">
                    <h4 class="card-title">
                      <a href="#">{{item.name}}</a>
                    </h4>
                    <h5>Price: ${{item.price}}</h5>
                    <h5>Type: {{item.type}}</h5>
                    <h5>Stock: {{item.stock}}</h5>
                    <p class="card-text">{{item.desc}}</p>
                  </div>
                  <div class="card-footer">
                    <!----<small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9733;</small>---->
                    
                    <button *ngIf="!edit_mode" type="button" id="update" class="btn btn-warning" name="button"
                    (click)="edit(item)"
                  >
                    Edit
                  </button>
                  <button *ngIf="edit_mode" type="button" id="update" class="btn btn-warning" name="button"
                    (click)="updateproducts(item)"
                  >
                    Update
                  </button>

                    &nbsp;
                    <button type="button" id="cart" class="btn btn-danger" name="button" (click) = "deleteproducts(item)">Delete</button>
                  </div>
                </div>
              </div>
          

        

      </div>


    </div>

  </div>

  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

