
<body>
<h1 style = "text-align: center; color: gold;">Our Services</h1>

<h3 style = "text-align: center;">The Lfoods services provides college students or organizations to place orders for foods and catering. </h3>
<br><br>
<h1 style = "text-align: center; color: gold;">Our Misson</h1>

<h3 style = "text-align: center;">Our misson is to provide a simple UI design for students to order food around their busy schedule. Since the Student Center options
    close around 7 o' clock in the evening, LFoods exist for convience of food for our students here at Lipscomb.
</h3>
<br><br>
<h1 style = "text-align: center; color: gold;">Our Audience</h1>

<h3 style="text-align: center;">
    Our audience consist of mostly Lipscomb students and Faculty. LFoods does not limit the users to only this however, it is accessible to
    anybody near or around Nashville.
    
</h3>
</body>