<form>
    <div  class = "h-100 row align-items-center" style="text-align: center;" >
        <div class = "col-md-4">
        </div>
    
        <div class = "col-md-4">
                <input type = "email" name = "email" placeholder = "Enter a new Email">
                <br>
                <input type = "password" name = "password" placeholder = "Enter new Password">
                <br>
                <input type = "password" name = "password" placeholder = "Confirm Password">
                <br>
                <br>
                <button class = "btn btn-success">Create Account</button>
                <br>
                <br>
        </div>
        <div class = "col-md-4">
        </div>
    </div>
</form>